<div class="card z-depth-1 top-card-fixed teal lighten-2">
    <div class="card-content top-card-content">
        <div class="top-card">
            <h4 class="ds-ib top-card-title">Factory</h4><span class="top-card-title-subtext">Roll your owns</span>
        </div>
    </div>
</div>


<div class="sub-page-div">
	<div class="row">
        <div class="col offset-s1 s10">

           <ul class="factory-list collapsible collapsible-accordion" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header factory-list-title"><i class="material-icons">library_music</i>Published Lists</div>
		      <div class="collapsible-body">
		      	<div id="published-list">
				</div>
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header factory-list-title"><i class="material-icons">library_music</i>Draft Lists</div>
		      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
		    </li>
		    <li>
		      <div class="collapsible-header factory-list-title  active"><i class="material-icons">library_music</i>Create New</div>
		      <div class="collapsible-body">
		      	<div class="row">
				    <form id="plForm" class="col s12">
				      <div class="row">
				      	<div id="plNameDone" class="plDone"> <i class="material-icons plItemDone">done</i> </div>
				        <div class="input-field col s12">
				          <i class="material-icons prefix">album</i>
				          <input id="plName" class="plName" type="text" class="validate">
				          <label for="plName">Name it</label>
				        </div>
				      </div>
				      <div class="row">
				      <div id="plDescriptionDone" class="plDone"> <i class="material-icons plItemDone desc-done">done</i> </div>
				        <div class="input-field col s12">
				          <i class="material-icons prefix">description</i>
				          <textarea id="plDescription" class="plDescription materialize-textarea"></textarea>
				          <label for="plDescription">Describe it</label>
				        </div>
				      </div>
				      <div class="row">
				        <div id="coverUploadProgress" class="progress">
					      <div class="indeterminate"></div>
					    </div>
				      	<div id="plCoverDone" class="plDone"> <i class="material-icons plItemDone cover-done">done</i> </div>
					    <div class="file-field input-field coverField">
					      <i class="material-icons prefix coverPreIcon">
					        airplay
					        <input type="file" id="plCover">
					        <input type="hidden" id="plCoverPath" name="plCoverPath" >
					      </i>
					      <div class="file-path-wrapper coverPathWrapper">
					        <input id="coverPathDisplay" class="file-path validate" type="text">
					        <label class="coverLabel" for="coverPathDisplay">Upload cover</label>
					      </div>
					    </div>
					  </div>
				      <div class="row">
				      	<div id="plTagsDone" class="plDone"> <i class="material-icons plItemDone">done</i> </div>
				        <div class="input-field col s12">
				          <div id="plTags" class="tag-list"></div>
				          <i class="material-icons prefix">label_outline</i>
				          <input id="plTagTrigger" class="plTagTrigger" type="text" class="validate">
				          <label for="plTagTrigger">Tag it</label>
				        </div>
				      </div>
				      <div class="row">
						<div class="col offset-s1 s10">      	
					        <div id="tagList" class="collection">
					        <a href="#!" class="collection-item"></a>
					      </div>
					    </div>  
				      </div>
				    <div class="row"></div>

				    <div class="row">
				    	<div class="col offset-s4 s4">
				    		<button class="btn waves-effect waves-light" type="submit" id="savePL">Roll it
						    	<i class="material-icons right">send</i>
						  	</button>
				    	</div>
				    </div>

				    </form>
				</div>
		      		
		      </div>
		    </li>
		  </ul>

        </div>
      </div>
</div>

<script type="text/javascript">
	$('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });

    var plTagsList = [];
    var validCover = false;

	var data = {
				"request": "latest_playlists"
				};
	data = $.param(data);
	$.ajax({
		type: "POST",
		dataType: "json",
		url: "../api/lists", 
		data: data,
		success: function(data) {
			var list_count = data.results;

			var list_body = '<div class="row">';
			_.each(data, function(playlist, index){
				if(_.isObject(playlist)){
					index++;

					list_body += '<div class="col s3">';
					list_body += '	<div class="card '+playlist.id+'">';
			    	list_body += '		<div class="card-image waves-effect waves-block waves-light">';
					list_body += '			<img class="'+playlist.id+'" src="'+playlist.cover+'">';
			    	list_body += '		</div>';
				    list_body += '		<div class="card-content text-small">';
				    list_body += '  		<div class="center-align"><span class="card-title '+playlist.id+' grey-text text-darken-4 text-small font-125">'+playlist.title+'</span></div>';
				    list_body += '  		<div class="center-align"><p><a href="'+playlist.link+'"><i class="material-icons top-align no-margin-right">perm_identity</i>'+playlist.link_text+'</a></p></div>';
				    list_body += '		</div>';
			  		list_body += '	</div>';
					list_body += '</div>';

					if(index%4==0 && index !== list_count){
						list_body += '</div> <div class="row">'
					}else if(index%4==0 && index === list_count){
						list_body += '</div> <div class="row">'
					}else if(index === list_count){
						list_body += '</div';
					}
					$('#published-list').html(list_body);

				}
			});
		}
	});

	$('#plTagTrigger').keyup(function(){

		var tagHTML = '';
		var tagTrigger = $('#plTagTrigger').val();
		if(tagTrigger.length>=0 && tagTrigger.length<=7){
			$('#plTags').css('left','15%');
		}else if(tagTrigger.length>=8 && tagTrigger.length<=15){
			$('#plTags').css('left','25%');
		}else if(tagTrigger.length>=16 && tagTrigger.length<=26){
			$('#plTags').css('left','35%');
		}else if(tagTrigger.length>=27 && tagTrigger.length<=35){
			$('#plTags').css('left','45%');
		}

		var tagObj = {};

		tagObj.tagTrigger = tagTrigger;
		$.ajax({
			type: "POST",
			dataType: "json",
			url: "../api/tagSearch", 
			data: tagObj,
			success: function(data) {
				if(data==0){
					tagHTML = '<a href="#!" data-tag="" class="collection-item item-not-found">No tags found</a>';
				}else{
					_.each(data, function(d){
						tagHTML += '<a href="#!" data-id="'+d.id+'" data-tag="'+d.tag+'" class="collection-item tagMatch">'+d.tag+'</a>';
					});
				}
				$('#tagList').html(tagHTML);
			}
		});

	});

	$(document).ready(function(){

		$('body').on("click", "i.removeTag", function(){
			var tagToRemove = _.indexOf(plTagsList, $(this).attr('data-id'));
			plTagsList.splice(tagToRemove, 1);
			if(plTagsList.length>=3){
				$('#plTagsDone').fadeIn();
			}else{
				$('#plTagsDone').fadeOut();
			}
		});

		$('body').on("click", "a.tagMatch", function(){
			if(plTagsList.length<5){
				var id = $(this).attr('data-id');
				var tag = $(this).attr('data-tag');

				if(_.indexOf(plTagsList, id) === -1){
					plTagsList.push(id);
					var addTag = '<div class="chip '+id+'">'+tag+'<i class="material-icons removeTag" data-id="'+id+'">close</i></div>';
					$('#plTags').append(addTag);
					if(plTagsList.length>=3){
						$('#plTagsDone').fadeIn();
					}else{
						$('#plTagsDone').fadeOut();
					}
				}
			}
		});

		$('body').on("click", "#savePL", function(e){
			alert('Rolling');
			e.preventDefault();
		});

		$('#plName').bind('input propertychange', function() {
			if($(this).val().length>=5){
				$('#plNameDone').fadeIn();
			}else{
				$('#plNameDone').fadeOut();
			}
		});

		$('#plDescription').bind('input propertychange', function() {
			if($(this).val().length>=50){
				$('#plDescriptionDone').fadeIn();
			}else{
				$('#plDescriptionDone').fadeOut();
			}
		});

		var tagHTML = '';
		$.ajax({
			type: "POST",
			dataType: "json",
			url: "../api/tagList", 
			success: function(data) {
				_.each(data, function(d){
					tagHTML += '<a href="#!" data-id="'+d.id+'" data-tag="'+d.tag+'" class="collection-item tagMatch">'+d.tag+'</a>';
				});
				$('#tagList').html(tagHTML);
			}
		});

		$(':file').change(function(){
		    var file = this.files[0];
		    var name = file.name;
		    var size = file.size;
		    var type = file.type;
		    var typeArr = type.split('/');
		    
		    //Your validation

		    if(typeArr[0]==='image' && size < 2000000){
		    	validCover = true;
		    }else{
		    	validCover = false;
		    }

		});

	$('input[type=file]').on('change', uploadFiles);

});

function uploadFiles(event)
{
	if(validCover){

	    $('#coverUploadProgress').fadeIn();

	    var files = event.target.files;

	    var data = new FormData();
	    $.each(files, function(key, value)
	    {
	        data.append(key, value);
	    });

	    $.ajax({
	        url: '../api/uploadCover',
	        type: 'POST',
	        data: data,
	        cache: false,
	        dataType: 'json',
	        processData: false,
	        contentType: false,
	        success: function(data, textStatus, jqXHR)
	        {
	            if(typeof data.error === 'undefined')
	            {
	                // Success
	                linkCoverImage(event, data);
	            }
	            else
	            {
	                // Error
	                console.log('ERROR: ' + data.error);
	            }
	        },
	        error: function(jqXHR, textStatus, errorThrown)
	        {
	            // Error
	            console.log('Errors: ' + textStatus);
	            
	        }
	    });
	    $('#coverUploadProgress').fadeOut();
	    $('#plCoverDone').fadeIn();
	    $('.coverPreIcon').css('color','#4db6ac');
	}else{
		event.stopPropagation(); // Stop stuff happening
	    event.preventDefault(); // Totally stop stuff happening
	    Materialize.toast('Please upload a valid cover image', 4000, 'teal lighten-2');
	    $('#plCoverDone').fadeOut();
	    $('#plCover').val('');
	    $('.file-path').val('');
	    $('#plCoverPath').val('');
	    $('.coverPreIcon').css('color','#333');
	}
}

function linkCoverImage(event, data){
	
	$('#plCoverPath').val(data.files[0]);
}
</script>