<div class="card z-depth-1 top-card-fixed teal lighten-2">
    <div class="card-content top-card-content">
        <div class="top-card">
            <h4 class="ds-ib top-card-title">Factory</h4><span class="top-card-title-subtext">Roll your owns</span>
        </div>
    </div>
</div>


<div class="sub-page-div">
	<div class="row">
        <div class="col offset-s1 s10">

           <ul class="factory-list collapsible collapsible-accordion" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header factory-list-title active"><i class="material-icons published">library_music</i>Published Lists</div>
		      <div class="collapsible-body">
		      	<div id="published-list">
				</div>
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header factory-list-title"><i class="material-icons draft">library_music</i>Draft Lists</div>
		      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
		    </li>
		    <li>
		      <div class="collapsible-header factory-list-title"><i class="material-icons add-playlist">library_music</i>Create New</div>
		      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
		    </li>
		  </ul>

        </div>
      </div>
</div>

<script type="text/javascript">
	$('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });

	var data = {
				"request": "latest_playlists"
				};
	data = $.param(data);
	$.ajax({
		type: "POST",
		dataType: "json",
		url: "../api/lists", 
		data: data,
		success: function(data) {
			var list_count = data.results;

			var list_body = '<div class="row">';
			_.each(data, function(playlist, index){
				if(_.isObject(playlist)){
					index++;

					list_body += '<div class="col s3">';
					list_body += '	<div class="card '+playlist.id+'">';
			    	list_body += '		<div class="card-image waves-effect waves-block waves-light">';
					list_body += '			<img class="activator '+playlist.id+'" src="'+playlist.cover+'">';
			    	list_body += '		</div>';
				    list_body += '		<div class="card-content text-small">';
				    list_body += '  		<span class="card-title activator '+playlist.id+' grey-text text-darken-4 text-small">'+playlist.title+'<i class="material-icons right">more_vert</i></span>';
				    list_body += '  		<p><a href="'+playlist.link+'"><i class="material-icons right">person_pin</i>'+playlist.link_text+'</a></p>';
				    list_body += '		</div>';
				    list_body += '		<div class="card-reveal text-small" for="'+playlist.id+'">';
				    list_body += '  		<span class="card-title grey-text text-darken-4">'+playlist.title+'<i class="material-icons right">close</i></span>';
				    list_body += '  		<p>'+playlist.info+'</p>';
				    list_body += '		</div>';
			  		list_body += '	</div>';
					list_body += '</div>';

					if(index%4==0 && index !== list_count){
						list_body += '</div> <div class="row">'
					}else if(index%4==0 && index === list_count){
						list_body += '</div> <div class="row">'
					}else if(index === list_count){
						list_body += '</div';
					}
					$('#published-list').html(list_body);

				}
			});
		}
	});

</script>