<div class="card z-depth-1 top-card-fixed teal lighten-2">
    <div class="card-content top-card-content">
        <div class="top-card">
            <h4 class="ds-ib top-card-title">Factory</h4><span class="top-card-title-subtext">Roll your owns</span>
        </div>
    </div>
</div>


<div class="sub-page-div">
	<div class="row">
        <div class="col offset-s1 s10">

           <ul class="factory-list collapsible collapsible-accordion" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header factory-list-title"><i class="material-icons">library_music</i>Published Lists</div>
		      <div class="collapsible-body">
		      	<div id="published-list">
				</div>
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header factory-list-title"><i class="material-icons">library_music</i>Draft Lists</div>
		      <div class="collapsible-body">
		      	<div id="draft-list">
		      		
		      	</div>
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header factory-list-title  active"><i class="material-icons">library_music</i>Create New</div>
		      <div class="collapsible-body">
		      	<div class="row">
				    <form id="plForm" class="col s12">
				      <div class="row">
				      	<div id="plNameDone" class="plDone"> <i class="material-icons plItemDone">done</i> </div>
				        <div class="input-field col s12">
				          <i class="material-icons prefix">album</i>
				          <input id="plName" class="plName" type="text" class="validate">
				          <label for="plName">Name it</label>
				        </div>
				      </div>
				      <div class="row">
				      <div id="plDescriptionDone" class="plDone"> <i class="material-icons plItemDone desc-done">done</i> </div>
				        <div class="input-field col s12">
				          <i class="material-icons prefix">description</i>
				          <textarea id="plDescription" class="plDescription materialize-textarea"></textarea>
				          <label for="plDescription">Describe it</label>
				        </div>
				      </div>
				      <div class="row">
				        <div id="coverUploadProgress" class="progress">
					      <div class="indeterminate"></div>
					    </div>
				      	<div id="plCoverDone" class="plDone"> <i class="material-icons plItemDone cover-done">done</i> </div>
					    <div class="file-field input-field coverField">
					      <i class="material-icons prefix coverPreIcon">
					        airplay
					        <input type="file" id="plCover">
					        <input type="hidden" id="plCoverPath" name="plCoverPath" >
					      </i>
					      <div class="file-path-wrapper coverPathWrapper">
					        <input id="coverPathDisplay" class="file-path validate" type="text">
					        <label class="coverLabel" for="coverPathDisplay">Upload cover</label>
					      </div>
					    </div>
					  </div>
				      <div class="row">
				      	<div id="plTagsDone" class="plDone"> <i class="material-icons plItemDone">done</i> </div>
				        <div class="input-field col s12">
				          <div id="plTags" class="tag-list"></div>
				          <i class="material-icons prefix" id="tagLabelIcon">label_outline</i>
				          <input id="plTagTrigger" class="plTagTrigger" type="text" class="validate">
				          <label for="plTagTrigger" id="tagLabel">Tag it</label>
				        </div>
				      </div>
				      <div class="row">
						<div class="col offset-s1 s10">      	
					        <div id="tagList" class="collection">
					        <a href="#!" class="collection-item"></a>
					      </div>
					    </div>  
				      </div>
				    <div class="row"></div>

				    <div class="row">
				    	<div class="col offset-s4 s4">
				    		<button class="btn waves-effect waves-light" type="submit" id="savePL">Roll it
						    	<i class="material-icons right">send</i>
						  	</button>
				    	</div>
				    </div>

				    </form>
				</div>
		      		
		      </div>
		    </li>
		  </ul>

        </div>
      </div>
</div>

<script type="text/javascript" src="../deps/js/factory.js"></script>