.sideBar{
	position: fixed;
	width: 15%;
	background-color: teal;
}

.sideBar-mini{
	position: fixed;
	background-color: teal;
	padding: 0 5%;
}

.menu-item-li{
	padding: 2% 5%;
	margin: 5% 2%;
	color: #fff;
}

.menu-item-li:hover{
	background-color: #004d40;
}

.menu-item-label{
	vertical-align: text-bottom;
	font-weight: 700;
}

.menu-item-icon{
	vertical-align: sub;
}

.menu-mini-item-li{
	color: #fff;
}