body{
	font-family: 'Ubuntu Condensed', 'Roboto', sans-serif;
}

#working{
	margin: 0 !important;
}

.panel{
	background: linear-gradient(180deg, #e0f2f1 20%, #fff 80%);	
}

.top-card-fixed{
	position: fixed;
	width: 81%;
	z-index: 2;
}

.top-card{
	display: inline-block;
	text-align: center;
	width: 100%;
}

.top-card-content{
	padding: 0 !important;
}

.top-card-icon{
}

.top-card-title{
	vertical-align: text-bottom;
	font-weight: 700;
	padding-left: 2%;
}

.ds-ib{
	display: inline-block;
}

#main-logo{
	height: 100%;
	width: 100%;
}

.side-bar{
	position: fixed;
	width: 15%;
}

.side-menu-label{
	width: 15.7%;
	padding: 0.25em 0;
	font-weight: 700;
	font-size: 2em;
	vertical-align: text-top;
	display: none;
	position: fixed;
	background-color: #009688;
	color: #333;
	text-decoration: none;
	text-align: center;
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em; 
}

.side-menu-item{

}

.side-menu-item:hover{
	background-color: #ccc;
}

.side-menu-button{
	position: fixed;
	left: 14%;
}

.menu-item-li{
	padding: 2% 5%;
	margin: 5% 2%;
	color: #fff;
}

.menu-item-li:hover{
	background-color: #004d40;
}

.menu-item-label{
	vertical-align: text-bottom;
	font-weight: 700;
}

.menu-item-icon{
	vertical-align: sub;
}

.menu-mini-item-li{
	color: #fff;
}

#menu-feed{
	margin-top: 6%;
}

#menu-feed-label{
	margin-top: 6%;
}

#menu-factory{
	margin-top: 12%;
}

#menu-factory-label{
	margin-top: 12%;
}

#menu-profile{
	margin-top: 18%;
}

#menu-profile-label{
	margin-top: 18%;
}

.base-card{
	margin-top: 5%;
	width: 99%;
}

.base-color{
	color: #333 !important;
}

.playlist-div{
	margin: 1% 1% 0;
}

#main-card{
	margin-top: 10%;
}

#list-new{
	width: 90%;
	margin: auto;
}